@import "reset.css";
/* 브라우저 기본 설정(Margin 등..) 없애주는 reset.css !! */

body {
    background-color: slategray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.canvas {
    width: 500px;
    height: 500px;
    background-color: white;

    border-radius: 15px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px,
        rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
}

.controls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .contorls_btns {
    margin-bottom: 30px;
}

.contorls_btns button {
    all: unset;
    /* //효과를 다 없애주는 건가봄... */
    cursor: pointer;
    /* 커서를 포인터로.. */
    background-color: white;
    padding: 5px, 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    /* CSS 디자인 하는거에 참고하면 좋을 듯.. 깔끔하고 보기좋음 */
}

.contorls_btns button:active {
    transform: scale(0.96);
}

.controls .controls_colors {
    display: flex;
    margin-right: 120px;
}

.controls_colors .controls_color {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
}

.controls .contorls_color_preview {
    width: 80px;
    height: 80px;
    border-radius: 34px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    margin-right: 20px;
    animation: move 3s infinite linear;
}
@keyframes move {
    100% {
        transform: rotate(360deg);
    }
}

.controls_colors .controls_color:active {
    transform: scale(0.96);
}

.controls .controls_range {
    margin-bottom: 30px;
}

.controls .controls_range input {
    cursor: pointer;
}
